body {
	background:#dcdcdc;
	font-family:tahoma, arial, 宋体, sans-serif;
}
#wrapper {
	width:95%;
	margin:0 auto;
}
#header {
	height:65px;
	position:relative;
}
#content {
	padding: 10px;
	margin-bottom: 10px;
	background:#fff;
	border-radius: 0 0 8px 8px;
	-webkit-border-radius:  0 0 8px 8px;
	-moz-border-radius:  0 0 8px 8px;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0px 4px 15px rgba(0, 0, 0, .3);
}
#footer {
	height: 36px;
	position: relative;
	color: #8c8c8c;
}
#footer ul {
	padding-top:10px;
}
#footer ul li {
	float: left;
}
#footer ul li a {
	padding: 0 10px;
	color: #4B4B4B;
}
#footer ul li a:hover {
	text-decoration: underline;
}
#footer .copyright{
	position: absolute;
	top: 10px;
	right: 10px;
}