@charset "utf-8";

body {
	font-size: 12px;
}

#wrapper{
	width: 960px;
	margin:0 auto;
}
#header{
	height: 125px;
}
#header .left{
	float: left;
	width: 200px;
	padding:15px 0px 0px 20px;
	border-bottom: 3px solid #007236;
}
#logo img{
	height: 100px;
	width: 200px;
}
#header .right{
	float: left;
	padding-top:8px;
	text-align:left;
}
#header .right .pic{
	float: left;
	width:550px;
	padding-left: 30px;
}
#header .right .pic img{
	padding: 5px 0px 0px 20px;
}
#header .right .text{
	float: left;
	padding-top:8px;
	line-height: 20px;
	text-align: right;
}
#header .right .text a{
	color: #666666;
	text-decoration: none;
}

#sidebar{
	float: left;
	width: 225px;
	padding-left:15px;
}

#sidebar ul li{
	text-align: right;
	padding: 5px 50px 0px 0px;
	line-height:24px;
	list-style-type: none;
	font-size: 14px;
	font-weight: bold;
}
#sidebar ul li a{
	color: #005427;
	text-decoration: none;
}
#sidebar ul li.selected a,#sidebar ul li a:hover{
	color: #d0ba35;
}
#sidebar .search,#sidebar .text{
	padding:10px 0px 0px 20px;
}

#content{
	width: 720px;
	height:auto!important;
	height:200px;
	min-height:200px; 
	float: left;
	padding-top: 10px;
}

#footer{
	margin-top:10px;
	border-top: 3px solid #007236;
}

#footer .logo{
	float: left;
	padding:20px 0px 0px 50px;
}
#footer .logo img{
	height: 50px;
	width: 100px;
}
#footer .contact{
	float: left;
	width: 540px;
	text-align: center;
	padding-top: 30px;
}
#footer .copyright{
	float: left;
	width: 250px;
	text-align: right;
	padding-top: 30px;
}

.series .catalog,.column .catalog{
	width: 60px;
}