@charset "utf-8";

body {
	font-size: 12px;
}

#wrapper{
	width: 960px;
	margin:0 auto;
}

#header .left{
	float: left;
	width: 202px;
	padding:15px 0px 0px 20px;
	border-bottom: 3px solid #007236;
}
#logo{
	background-image: url(../images/website/logo.jpg);
	background-repeat: no-repeat;
	height: 109px;
	width: 202px;
}
#header .right{
	float: left;
	padding-top:8px;
	text-align:left;
}
#header .right .pic{
	float: left;
	width:500px;
	padding-left: 30px;
}
#header .right .pic img{
	padding: 5px 0px 0px 20px;
}
#header .right .text{
	float: left;
	padding-top:8px;
	line-height: 20px;
	text-align: right;
}
#header .right .text a{
	color: #666666;
	text-decoration: none;
}

#sidebar{
	float: left;
	width: 225px;
	padding-left:15px;
}

#sidebar ul li{
	text-align: right;
	padding: 5px 50px 0px 0px;
	line-height:24px;
	list-style-type: none;
	font-size: 14px;
	font-weight: bold;
}
#sidebar ul li a{
	color: #005427;
	text-decoration: none;
}
#sidebar ul li a:hover{
	color: #007035;
	text-decoration: none;
}

#sidebar .search,#sidebar .text{
	padding:10px 0px 0px 20px;
}

#content{
	width: 720px;
	float: left;
}

#footer{
	margin-top:10px;
	border-top: 3px solid #007236;
}

#footer .logo{
	float: left;
	background-image: url(../images/website/logo1.jpg);
	background-repeat: no-repeat;
	height: 37px;
	width: 120px;
	margin:20px 0px 0px 50px;
}
#footer .contact{
	float: left;
	width: 540px;
	text-align: center;
	padding-top: 30px;
}
#footer .copyright{
	float: left;
	width: 250px;
	text-align: right;
	padding-top: 30px;
}

.series .catalog,.column .catalog{
	width: 60px;
}